{
  "env": {
    "node": true,
    "browser": true,
    "es6": true 
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2],
    "no-console": "warn"
  }
}
