{
  "env": {
    "node": true,
    "browser": true,
    "es6": true 
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script"
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2],
    "no-console": "warn"
  }
}
