<div class='mapbox-geocoder-component mapbox-geocoder-input'>
  <div class='mapbox-geocoder-input'>
    <span class='directions-icon directions-icon-search'></span>
    <input
      type='text'
      value='<%- inputQuery %>'
      class='js-input'
      placeholder='Search'
    />
    <div class='geocoder-pin-right'>
      <button
        class='geocoder-icon geocoder-icon-close js-input-clear'
        title='Clear value'>
      </button>
      <span class='geocoder-icon geocoder-icon-loading js-input-loading'></span>
    </div>
  </div>
</div>
